<a href="https://colab.research.google.com/github/paulo-lins/EDA_datasus/blob/main/EDA_tabnet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Through **DATASUS** (site: http://tabnet.datasus.gov.br/cgi/deftohtm.exe?sih/cnv/qiuf.def) we will access Hospital Production data, by region and federation unit, since 2008 and we will analyze the total amount spent on health by the federal government. We will search for this data through **TABNET**, a portal available on the website above. In our dataframe we will use the year and month of processing, which is when the values ​​are processed and passed on to the manager or hospital institution.

This notebook contains the exploratory analysis of data from "Datasus" from the year 2008 to the last year of processing available on the website above.

In [1]:
import pandas as pd

In [12]:
# IIn Brazil sometimes we will have to use encoding='ISO-8859-1' for Latin characters

url = 'https://raw.githubusercontent.com/paulo-lins/EDA_datasus/main/A173927189_28_143_208.csv'

# df1 = pd.read_csv(url, encoding='ISO-8859-1') *

# this returns us ------> ParserError                               
# Traceback (most recent call last)
# <ipython-input-3-de3887ba5c9c> in <module>()
#      3 url = 'https://raw.githubusercontent.com/paulo-lins/EDA_datasus/main/A173927189_28_143_208.csv'
#      4 
#----> 5 df1 = pd.read_csv(url, encoding='ISO-8859-1')

#8 frames
#/usr/local/lib/python3.7/dist-packages/pandas/_libs/parsers.pyx in pandas._libs.parsers.raise_parser_error()

#ParserError: Error tokenizing data. C error: Expected 1 fields in line 5, saw 174

In [4]:
# Atention, (ParserError: Error tokenizing data. C error: Expected 1 fields in line 5, saw 174), 
# this error is related to some problem reading the data. As header and what kind of separator... in this case it's set to ',' but when we open the file we observe that it is separated by ';'

In [5]:
dados = pd.read_csv(url, 
                  encoding='ISO-8859-1',
                  skiprows=3,     #skip unnecessary lines
                  skipfooter=12,  #skip unnecessary footer
                  sep=';',        #set the separator
                  thousands='.',   #set the thousand to '.'
                  decimal=',')    #set the decimal to ','
dados.head()

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

,Unidade da Federação,2008/Jan,2008/Fev,2008/Mar,2008/Abr,2008/Mai,2008/Jun,2008/Jul,2008/Ago,2008/Set,...,2021/Ago,2021/Set,2021/Out,2021/Nov,2021/Dez,2022/Jan,2022/Fev,2022/Mar,2022/Abr,Total
0,11 Rondônia,1388528.39,2931283.42,1541682.52,1525314.96,1645953.84,1406150.68,3065279.01,3231494.61,3117178.63,...,13054440.15,12112418.95,9765323.52,11091614.20,11206618.94,11050292.93,12371950.02,11554081.53,9895887.03,1.168339e+09
1,12 Acre,902416.00,1497206.26,1794028.48,1730469.42,1819443.92,1828496.00,2511754.59,2089107.14,2275708.53,...,4138751.64,4260017.06,3828566.34,2889654.47,3138245.58,3547361.84,3424337.76,3584824.97,-,4.999633e+08
2,13 Amazonas,4735529.42,7118990.57,8196635.49,8259378.42,7831399.90,8477273.62,9368858.72,9352532.70,9363099.35,...,22720450.82,21120609.03,16901290.05,18371952.43,17783646.65,15403023.75,17984992.03,19409055.43,17572660.38,2.189227e+09
3,14 Roraima,657889.53,777939.31,718688.03,839994.39,862347.96,832440.66,996693.09,894271.18,910424.17,...,3781921.16,3150835.05,3185551.53,3022781.41,3129225.29,3024454.61,3097211.89,3328597.91,3266805.71,3.746009e+08
4,15 Pará,18864744.11,19553758.20,21937342.70,20842829.69,23249952.88,23240687.56,24002223.56,23341218.03,25172261.32,...,45126860.59,45771568.39,45038864.11,44566789.75,44358065.42,44802364.31,44554060.25,42076801.20,43170314.35,5.311265e+09

In [6]:
#show the last 5 lines
dados.tail()

,Unidade da Federação,2008/Jan,2008/Fev,2008/Mar,2008/Abr,2008/Mai,2008/Jun,2008/Jul,2008/Ago,2008/Set,...,2021/Ago,2021/Set,2021/Out,2021/Nov,2021/Dez,2022/Jan,2022/Fev,2022/Mar,2022/Abr,Total
22,43 Rio Grande do Sul,30931325.46,57363420.01,51547794.07,56673338.49,48397733.07,52413429.62,56636376.98,56113054.70,55356224.30,...,1.375493e+08,1.229436e+08,1.147044e+08,1.151691e+08,1.143993e+08,1.027617e+08,1.059412e+08,1.082238e+08,103246325.57,1.439021e+10
23,50 Mato Grosso do Sul,5377392.11,7002472.61,8423933.19,8797487.68,9770421.80,10905392.18,10249299.82,9671553.45,10218511.05,...,3.671334e+07,3.314037e+07,2.399633e+07,2.434326e+07,2.200306e+07,2.202217e+07,2.404754e+07,2.447686e+07,20695521.11,2.680512e+09
24,51 Mato Grosso,4795299.01,8684882.23,7886243.14,8794109.79,9231645.40,10221763.77,9163314.28,9243148.81,9052354.89,...,3.896208e+07,2.928720e+07,2.791062e+07,2.156352e+07,2.031116e+07,2.069234e+07,2.233834e+07,2.001901e+07,16076544.64,2.539254e+09
25,52 Goiás,15310637.29,22258668.68,21442515.75,20921212.45,21615970.67,18270043.87,20540517.13,20650730.67,20868443.56,...,7.246173e+07,6.729214e+07,5.838279e+07,4.346182e+07,4.473026e+07,4.541720e+07,4.130926e+07,4.060964e+07,38726340.65,5.702548e+09
26,53 Distrito Federal,4745919.19,7632480.67,9647203.26,11098732.99,12891719.72,12850125.67,12565646.74,13710857.89,13165106.20,...,2.728877e+07,2.850999e+07,2.620743e+07,2.514746e+07,2.274292e+07,2.494576e+07,2.440409e+07,2.603333e+07,25430770.37,2.953368e+09

In [7]:
# let's calculate the average caste per month in each state. For this we will use the mean, but first, we will change all
dados.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

2008/Jan    1.512685e+07
2008/Fev    2.271016e+07
2008/Mar    2.459419e+07
2008/Abr    2.543196e+07
2008/Mai    2.651125e+07
                ...
2021/Dez    5.814510e+07
2022/Jan    5.788532e+07
2022/Fev    5.802283e+07
2022/Mar    5.754811e+07
Total       7.268224e+09
Length: 171, dtype: float64

In [8]:
# It is a little difficult to understand the numbers above. For this, we will use pd.options.float = "{:.2f}".format
pd.options.display.float_format = "{:.2f}".format
dados.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

2008/Jan     15126846.64
2008/Fev     22710158.12
2008/Mar     24594187.35
2008/Abr     25431957.83
2008/Mai     26511245.91
                ...
2021/Dez     58145101.08
2022/Jan     57885315.71
2022/Fev     58022827.57
2022/Mar     57548111.74
Total      7268224369.78
Length: 171, dtype: float64